body{
	margin: 0;
	font-family: Halvetica,Arial,sans-serif;
	font-size: 20px;
	line-height: 30px;
}
header{
	background-color: orange;
	text-align: center;
	padding-top: 50px;
	padding-bottom: 50px;
}

/*header style*/
header h1{
	color: white;
	font-size: 50px;
}
header img{
	border-radius: 150px;
	width: 250px;
	border: 20px solid darkred;
}
main{
	max-width: 800px;
	margin: 0 auto;
	padding: 20px;
}
main img{
	max-width: 100%;
}
h2{
	font-size: 35px;
	color: blue;
	margin: 40px 0 10px;
}
a{
	color: red;
}
a:hover{
	
	color: blueviolet;
	background-color: teal;
}
footer{
	background-color: orange;
	text-align: center;
	color: green;
	padding: 30px;
}
footer p {
	margin: 0;
}
p.caption{
	color: grey;
	font-style: italic;
	margin-top: 0;
}